body {
    background: #E6E2C3;
    color: #1C315E;
    display: flex;
    flex-direction: column;
    font-family: "Arial";
    min-height: 100vh;
    text-align: center;
}

footer{
    background: #227C70;
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
}

h1 {
    margin: 40px 0px;
}

td {
    padding: 5px 20px;
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #E6E2C3;
    font-size: 0.7rem;
}

.fa-circle {
    color: #E6E2C3;
}

.icon-text{
    font-size: 0.5rem;
    margin-top: 50px;
}

.icon-text a{
    color: #E6E2C3;
}

.logo{
    margin: 0 20px;
    width: 5%;
}

.navbar{
    background: #227C70;
    padding: 0 16px;
}
